.top-bar, .top-bar ul {
  background: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  a.active {
    font-weight: bold;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
}